<div class="container">
    <mat-card>
        <h1>LOGIN</h1>
        <form>
            <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>E-mail</mat-label>
                <input matInput 
                [(ngModel)]="username" 
                [ngModelOptions]="{standalone:true}">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Password</mat-label>
                <input matInput 
                    [type]="hide ? 'password': 'text'" 
                    [(ngModel)]="password" 
                    [ngModelOptions]="{standalone:true}">
                <button mat-icon-button matSuffix 
                    (click)="hide = !hide" 
                    [attr.aria-label]="'Hide password'" 
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button color="primary" 
                (click)="login()"
                type="submit">
                Login
            </button>

            <button mat-flat-button
                routerLink="/register">
                Register
            </button>
        </form>
    </mat-card>
</div>
