
<mat-toolbar 
  color="primary"
  style="z-index: 100; position: fixed; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">

  <button mat-button routerLink="/home">
     <h1>PRF WebShop</h1>
  </button>

  <span class="example-spacer"></span>

  <button 
    *ngIf="isAdmin"
    mat-flat-button
    color="primary">
    TEST
  </button>

  <button style="z-index: 100;"
  routerLink="/shoppingCart"
    mat-icon-button>
    <mat-icon 
    [matBadge]="cartCounter"
    [matBadgeHidden]="cartCounter < 1" 
    matBadgeColor="warn">
      shopping_cart
    </mat-icon>
  </button> 

  <button 
    *ngIf="!loggedIn"
    mat-flat-button
    routerLink="/login"
    color="primary">
    <mat-icon>person</mat-icon>
    Log in
  </button> 

  <button 
  *ngIf="loggedIn"
  mat-flat-button
  (click) = "logout()"
  color="primary">
  <mat-icon>person</mat-icon>
  Log out
  </button> 

</mat-toolbar>

<div class="container"
  style="padding-top: 7%;">

  <router-outlet ></router-outlet>
  
</div>